@media screen and (max-width 807px)
  .Items
    &-container
      justify-content space-around
@media screen and (max-width 537px)
  .Home
    &-title
      font-size 1.8em
  .Items
    &-box
      margin-right 0
  .We
    &-image
      display none
@media screen and (max-width 360px)
  #wowslider-container1
    display none !important
  .Search
    &-form
      width: 300px;
    &-input
      width: 210px;
